<div>
    <h1>Register Here</h1>
    <form>
        <label>username</label>
        <input type="text" name="user" placeholder="Enter username"  [(ngModel)]="registerObj.user"><br><br>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" [(ngModel)]="registerObj.email"><br><br>
        <label>Password</label>
        <input type="password" name="pass" placeholder="Enter password" [(ngModel)]="registerObj.pass"><br><br>
        <label>Confirm Password</label>
        <input type="password" name="cpass" placeholder="Re-Enter Passowrd"><br><br>
        <input type="submit" value="Register" (click)="onSubmit()">
    </form>
    <br>
    Already have an account? <a routerLink="/login">Login here</a>
</div>