@if(loading){
   <p>Authenticating the user.....</p>
}
@else{
    <h2>Create course</h2>
    <form enctype="multipart/form-data" [formGroup]="course_form" (ngSubmit)="onSubmit()">
        <label>Course name</label>
        <input type="text" name="course_name" placeholder="Enter course name" formControlName="course_name" ><br><br>
        @if(errors('course_name')){
            <div>This field is required</div>
        }
        <label>Course duration</label>
        <input type="text" name="duration" placeholder="Enter course duration" formControlName="duration"><br><br>
        @if(errors('duration')){
            <div>This field is required</div>
        }
        <label>Instructor name</label>
        <input type="text" name="instructor" placeholder="Enter instructor name " formControlName="instructor"><br><br>
        @if(errors('instructor')){
            <div>This field is required</div>
        }
        <label>Course Description</label>
        <textarea rows="5"  name="desc" cols="60" placeholder="Enter course description" formControlName="desc" ></textarea><br><br>
        @if(errors('desc')){
            <div>This field is required</div>
        }
        <label>Course profile </label>
        <input type="file" name="image" accept="image/*" (change)="selectFiles($event)" formControlName="image"><br><br>
        @if(errors('image')){
            <div>Please upload an image</div>
        }
        <label>Course documents</label>
        <input type="file" name="docs" multiple (change)="selectFiles($event)" accept=".pdf,.docx,.doc" formControlName="docs"><br><br>
        @if(errors('docs')){
            <div>Please upload course documents</div>
        }
        <label>Video file</label>
        <input type="file" name="video" accept="video/*" (change)="selectFiles($event)" formControlName="video"><br><br>
        @if(errors('video')){
            <div>Please upload a video</div>
        }
        <input type="submit" [disabled]="course_form.invalid">
    </form>
    <br><br>   
    <button (click)="onLogout()">Logout</button> 
    <h2>Course List</h2>
    @for (course of courseList; track course.course_id){
        <div>
            <h3>{{course.course_name}}</h3>
            <p>Instructor: {{course.instructor}}</p>
            <p>Duration: {{course.duration}}</p>
            <p>Description: {{course.description}}</p>
            <img [src]="course.file_path" alt="course_image" width="100" height="100">
            <button (click)="go_to_course(course.course_id)">Go to Course</button>
        </div>
    }
}